{{ template "mine" . }}

{{ $osid := .chezmoi.os }}
{{ if hasKey .chezmoi.osRelease "id" }}
{{   $osid = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.id }}
{{ end }}


# rust
export PATH="$HOME/.cargo/bin:$PATH"

# nodejs
export NVM_DIR="$HOME/.nvm"
[ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"

# go 
export PATH="$HOME/go/bin:$PATH"


# 判断主机类型
{{ if eq $osid "darwin" }}
# macos
export PATH="/opt/homebrew/opt/llvm/bin:$PATH"

{{ else if eq $osid "linux-debian" }}
# debian

{{ else if eq $osid "linux-centos"}}
# centos
export PATH=$PATH:$HOME/vcpkg
export vcpkgRoot=$HOME/vcpkg

{{ end }}


 command -v eval > /dev/null  && eval "$(atuin init zsh)"
